body,html{

	margin: 0;
	padding:0;
	background-image: url();
	background-repeat: no-repeat;
  background-attachment: fixed;
 	background-position: 50% 50%;
 	background-size: 100% 100%;
  height: 100%
}

a{
	text-decoration: none;
	color: white;
}

.background{

  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  backface-visibility: hidden;
  overflow-x:hidden;
}

.background img{
  position: fixed;
}



.naslov{

  width: 100%;  
  text-align: center;
  font-size: 350%;
  color: white;
  background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.9);
  position: relative;
  z-index: 1;
  align-content: left;
  font-family: cursive;

}

.navbar{

  width: 100%;
  height: 5%;
  font-size: 200%;
  background: rgb(0, 0, 0);
  background: rgba(0,0,0,0.9); 
  text-align: center;
  word-spacing: 100%;
  position: absolute;
  padding-top: 1%;
  padding-bottom: 1%; 
  z-index: 1;
  font-family: cursive;

}

.navbar a{

  padding: 1%;
  animation-name: shadow;
  animation-play-state: paused;
  animation-duration: 1s;

}


.navbar a:hover{

  box-shadow: 1px 1px 4px 0px rgb(255,255,255);
  color: #939393;
}

.ketering{

  position: relative;
  margin-left: 50%;
  margin-right: 10%;
  width: 50%;
  color: rgb(255,255,255);
  font-size: 2vw;
  text-shadow: -3px 2px  black;
  font-family: cursive;

}



.galerija{

  position: absolute;
  padding-top: 2%;
	margin-left: 10%;
	margin-top: 8%;
	width: 80%;
	height: 70vw;
	z-index: 1; 
  padding-bottom: 100px;
}


.galerija div{

	margin: 1%;
	float: right;
	width: 10vw;
	height: 10vw;
	padding: 0.5%;
	box-shadow: 0 0 10px 1px rgba(0,0,0, 0.4);
	position: relative;
	z-index: 1;
  background-color: rgba(255,255,255, 0.9);
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  top: 0;
  display: block;
  width: 80%;
  max-width: 700px;
  padding-bottom: 1000px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: fixed;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


#img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;

}

#img:hover {opacity: 0.7;}



#img2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#img2:hover {opacity: 0.7;}


#img3 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#img3:hover {opacity: 0.7;}

#img4 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#img4:hover {opacity: 0.7;}


#img5 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#img5:hover {opacity: 0.7;}


#img6 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#img6:hover {opacity: 0.7;}


#img7 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#img7:hover {opacity: 0.7;}


#img8 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#img8:hover {opacity: 0.7;}


#img9 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#img9:hover {opacity: 0.7;}


#img10 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#img10:hover {opacity: 0.7;}


#img11 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#img11:hover {opacity: 0.7;}


#img12 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#img12:hover {opacity: 0.7;}


#img13 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;

}

#img13:hover {opacity: 0.7;}


#img14 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;

}

#img14:hover {opacity: 0.7;}


#img15 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;

}

#img15:hover {opacity: 0.7;}


#img16 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;

}

#img16:hover {opacity: 0.7;}



#img17 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;

}

#img17:hover {opacity: 0.7;}



#img18 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;

}

#img18:hover {opacity: 0.7;}



#img18 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;

}

#img18:hover {opacity: 0.7;}



#img19 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;

}

#img19:hover {opacity: 0.7;}



#img20 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;

}

#img20:hover {opacity: 0.7;}


#img21 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;

}

#img21:hover {opacity: 0.7;}




#img22 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;

}

#img22:hover {opacity: 0.7;}



#img23 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;

}

#img23:hover {opacity: 0.7;}



#img24 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;

}

#img24:hover {opacity: 0.7;}



#img25 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;

}

#img25:hover {opacity: 0.7;}



#img26 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;

}

#img26:hover {opacity: 0.7;}



#img27 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;

}

#img27:hover {opacity: 0.7;}



#img28 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;

}

#img28:hover {opacity: 0.7;}



#img29 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;

}

#img29:hover {opacity: 0.7;}



#img30 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;

}

#img30:hover {opacity: 0.7;}

