body,html{

	margin:0px;
	padding: 0px;
	background-image: url();
	background-repeat: no-repeat;
  background-attachment: fixed;
 	background-position: 50% 50%;
 	background-size: 100% 100%;;
  overflow: hidden;
}

a{

	text-decoration: none;
	color: rgb(255,255,255);
}


.background{

  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}


.naslov{
	width: 100%;  
	text-align: center;
	color: white;
	background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
	background: rgba(0, 0, 0, 0.9);
	position: relative;
	z-index: 1;
  font-family: cursive;

}

.naslov a{

  font-size: 350%;
}

.navbar{

  width: 100%;
  height: 5%;
  font-size: 200%;
  background: rgb(0, 0, 0);
  background: rgba(0,0,0,0.9); 
  text-align: center;
  word-spacing: 100%;
  position: absolute;
  padding-top: 1%;
  padding-bottom: 1%; 
  z-index: 1;
  font-family: cursive;

}

.navbar a{

  margin-top: 5%;
  padding: 1%;
  animation-name: shadow;
  animation-play-state: paused;
  animation-duration: 1s;

}


.navbar a:hover{

  box-shadow: 1px 1px 4px 0px rgb(255,255,255);
  color: #939393;
}


#map {
		margin-left: 60%;
		margin-top: 10%;
    height: 550px;  /* The height is 400 pixels */
    width: 600px;  
    position: absolute;
    z-index: 1;
    right:0px;
}


@media screen and (max-width: 1500px) {

#map {
    margin-left: 60%;
    margin-top: 10%;
    height: 350px;  /* The height is 400 pixels */
    width: 400px;  
    position: absolute;
    z-index: 1;
    right:0px;

}
}


@media screen and (max-width: 1000px) {

#map {
    margin-left: 60%;
    margin-top: 10%;
    height: 150px;  /* The height is 400 pixels */
    width: 200px;  
    position: absolute;
    z-index: 1;
    right:0px;

}
}



.dole{

  position: absolute;
  bottom: 0px;
  height: 11%;
  width: 100%;
  position: absolute;
  background-color: rgba(255,255,255,0.9);


}

.dole p{

  margin-top: 2%;
  margin-left: 11%;
  float: left;
  font-size: 200%;
  color: rgb(0,0,0);
  font-family: cursive;
}

.dole p a{

  margin-top: 2%;
  margin-left:11%;
  float: left;
  font-size: 110%;
  color: rgb(0,0,0);
  font-family: cursive;
}


@media screen and (max-width: 1800px) {

.dole{

  position: absolute;
  bottom: 0px;
  height: 11%;
  width: 100%;
  position: absolute;
  background-color: rgba(255,255,255,0.9);


}

.dole p{

  margin-top: 2%;
  margin-left: 8%;
  float: left;
  font-size: 180%;
  color: rgb(0,0,0);
  font-family: cursive;
}

.dole p a{

  margin-top: 2%;
  margin-left:8%;
  float: left;
  font-size: 100%;
  color: rgb(0,0,0);
  font-family: cursive;
}
}


@media screen and (max-width: 1400px) {

.dole{

  position: absolute;
  bottom: 0px;
  height: 11%;
  width: 100%;
  position: absolute;
  background-color: rgba(255,255,255,0.9);


}

.dole p{

  margin-top: 2%;
  margin-left: 6%;
  float: left;
  font-size: 150%;
  color: rgb(0,0,0);
  font-family: cursive;
}

.dole p a{

  margin-top: 2%;
  margin-left:6%;
  float: left;
  font-size: 100%;
  color: rgb(0,0,0);
  font-family: cursive;
}
}


@media screen and (max-width: 1100px) {

.dole{

  position: absolute;
  bottom: 0px;
  height: 11%;
  width: 100%;
  position: absolute;
  background-color: rgba(255,255,255,0.9);


}

.dole p{

  margin-top: 2%;
  margin-left: 6%;
  float: left;
  font-size: 120%;
  color: rgb(0,0,0);
  font-family: cursive;
}

.dole p a{

  margin-top: 2%;
  margin-left:6%;
  float: left;
  font-size: 80%;
  color: rgb(0,0,0);
  font-family: cursive;
}
}


@media screen and (max-width: 800px) {

.dole{

  position: absolute;
  bottom: 0px;
  height: 11%;
  width: 100%;
  position: absolute;
  background-color: rgba(255,255,255,0.9);


}

.dole p{

  margin-top: 2%;
  margin-left: 8%;
  float: left;
  font-size: 70%;
  color: rgb(0,0,0);
  font-family: cursive;
}

.dole p a{

  margin-top: 2%;
  margin-left: 8%;
  float: left;
  font-size: 100%;
  color: rgb(0,0,0);
  font-family: cursive;
}
}