body, html {
  margin: 0;
  padding: 0;
  background-image: url(.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: 100% 100%;
  overflow: hidden;
    }

@font-face {
  font-family: "Arabella";
  src: url(Arabella.ttf);
}


a{

  text-decoration: none;
  color: rgb(255,255,255);
}


.naslov{

  width: 100%;  
  text-align: center;
  font-size: 350%;
  color: white;
  background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.9);
  position: relative;
  z-index: 1;
  font-family: cursive;

}

.navbar{

  width: 100%;
  height: 5%;
  font-size: 200%;
  background: rgb(0, 0, 0);
  background: rgba(0,0,0,0.9); 
  text-align: center;
  word-spacing: 100%;
  position: absolute;
  padding-top: 1%;
  padding-bottom: 1%; 
  z-index: 1;
 font-family: cursive;

}

.navbar a{

  margin-top: 5%;
  padding: 1%;
  animation-name: shadow;
  animation-play-state: paused;
  animation-duration: 1s;

}


.navbar a:hover{

  box-shadow: 1px 1px 4px 0px rgb(255,255,255);
  color: #939393;

}


@media screen and (max-width: 1200px){

.naslov{

  width: 100%;  
  text-align: center;
  font-size: 450%;
  color: white;
  background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.9);
  position: relative;
  z-index: 1;
  font-family: cursive;

}

.navbar{
  display: none;
}



}

.background{

  top: 0px;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 300%;
  display: block;
  backface-visibility: hidden;
  overflow-x:hidden;
}

.background img{
  position: fixed;
  height: auto;
}


nav.menu {
  width: 300px;
  min-height: calc(100vh - 121px);
  background-color: #03a9f4;
  position: absolute;
  left: -300px;
  transition: .3s all;
}
nav.menu > a {
    display: block;
    padding: 5px;
    margin: 15px 0 0px 20px;
    color: #494949;
    text-transform: uppercase;
}
main {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}
footer {
  height: 50px;
  background-color: #494949;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.menu_show {
  left: 0!important;
}

@media screen and (max-width: 425px) {
  header h1 {
    font-size: 16px;
  }
}
@media screen and (max-width: 360px) {
  nav.menu {
    width: 100%;
    left: -100%; 
  }
}