body, html {
  margin: 0;
  padding: 0;
  background-image: url(.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: 100% 100%;
    }

@font-face {
  font-family: "Arabella";
  src: url(Arabella.ttf);
}


a{

  text-decoration: none;
  color: rgb(255,255,255);
}


.naslov{

  width: 100%;  
  text-align: center;
  font-size: 350%;
  color: white;
  background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.9);
  position: relative;
  z-index: 1;
  font-family: cursive;

}

.navbar{

  width: 100%;
  height: 5%;
  font-size: 200%;
  background: rgb(0, 0, 0);
  background: rgba(0,0,0,0.9); 
  text-align: center;
  word-spacing: 100%;
  position: absolute;
  padding-top: 1%;
  padding-bottom: 3%; 
  z-index: 1;
  font-family: cursive;

}

.navbar a{

  padding-right: 1%;
  padding: 15px;
  animation-name: shadow;
  animation-play-state: paused;
  animation-duration: 1s;

}


.navbar a:hover{

  box-shadow: 1px 1px 4px 0px rgb(255,255,255);
  color: #939393;

}




  @media screen and (max-width: 1000px){




.naslov{

  width: 100%;  
  text-align: center;
  font-size: 450%;
  color: white;
  background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.9);
  position: relative;
  z-index: 1;
  font-family: cursive;
  display: none;

}

.navbar{
  display: none;
}



.background{

  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 300%;
  display: block;
  backface-visibility: hidden;
}


.background img{
  position: fixed;
  height: 100%;
  width: auto;

}


.mobile-container {
  max-width: 100%;
  margin: auto;
  background-color: rgba(0,0,0, 0.8);
  height: 100%;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: rgba(0,0,0, 0.8);
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 350%;
  display: block;
  align-content: center;
}

.topnav a.icon {
  background: rgb(0,0,0);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 70px;
  width: 70px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(0,0,0);
  height: 70px;
}

}

@media screen and (min-width: 999px){

.background{

  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 300%;
  display: block;
  backface-visibility: hidden;
}

.background img{
  position: fixed;
  height: 100%;
  width: 100%;
}
