body, html {
	margin: 0;
	padding: 0;
	background-image: url(MagijaS.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% 100%;
  background-size: 100% 100%;
  height: 100%;
  overflow: hidden;
 }

a{
	text-decoration: none;
  color: rgb(255,255,255);
}


.naslov{

  width: 100%;  
  text-align: center;
  font-size: 350%;
  color: white;
  background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.9);
  position: relative;
  z-index: 1;
  font-family: cursive;

}



.navbar{

  width: 100%;
  height: 5%;
  font-size: 200%;
  background: rgb(0, 0, 0);
  background: rgba(0,0,0,0.9); 
  text-align: center;
  word-spacing: 100%;
  position: absolute;
  padding-top: 1%;
  padding-bottom: 1%; 
  z-index: 1;
  font-family: cursive;

}

.navbar a{

  padding: 1%;
  animation-name: shadow;
  animation-play-state: paused;
  animation-duration: 1s;

}


.navbar a:hover{

  box-shadow: 1px 1px 4px 0px rgb(255,255,255);
  color: #939393;
}

.background{

  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  backface-visibility: hidden;
  overflow-x:hidden;
}

.background img{
  position: absolute;
}


.main{

  position: absolute;
  margin-top: 20%;
  margin-bottom: 50%;
  margin-left: 20%;
  width: 60%;
  height: 20%;
  font-size: 200%;
}

.main p{

  color: rgb(255,255,255);
  text-shadow: -3px 2px black;
  text-align: center;
}


@media screen and (max-width: 1200px) {

.main{

  position: absolute;
  margin-top: 22%;
  margin-bottom: 50%;
  margin-left: 20%;
  width: 60%;
  height: 20%;
  font-size: 100%;
}

.main p{

  color: rgb(255,255,255);
  text-shadow: -3px 2px black;
  text-align: center;
}

}

@media screen and (max-width: 1000px) {

.main{

  position: absolute;
  margin-top: 25%;
  margin-bottom: 50%;
  margin-left: 20%;
  width: 60%;
  height: 20%;
  font-size: 80%;
}

.main p{

  color: rgb(255,255,255);
  text-shadow: -3px 2px black;
  text-align: center;
}

}



@media screen and (max-width: 850px) {

.main{

  position: absolute;
  margin-top: 25%;
  margin-bottom: 50%;
  margin-left: 20%;
  width: 60%;
  height: 20%;
  font-size: 50%;
}

.main p{

  color: rgb(255,255,255);
  text-shadow: -3px 2px black;
  text-align: center;
}

}



.dole{

  position: absolute;
  bottom: 0px;
  height: 11%;
  width: 100%;
  position: absolute;
  background-color: rgba(255,255,255,0.9);


}

.dole p{

  margin-top: 2%;
  margin-left: 5%;
  float: left;
  font-size: 150%;
  color: rgb(0,0,0);
  font-family: cursive;
}

.dole p a{

  margin-top: 2%;
  margin-left:5%;
  float: left;
  font-size: 110%;
  color: rgb(0,0,0);
  font-family: cursive;
}